# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IDE (VS Code / Eclipse JDT) compile output directory
bin/

# Ignore Kotlin plugin data
.kotlin
